main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Блог'], ['Что выгоднее при покупке автомобиля: автокредит или потребительский кредит?']])
  +vacancy-intro
  include ./news-and-article.pug
  +vacancy-similar(true)
