section.section-text
  .site-container
    .news-and-article
      .news-and-article__inner
        .news-and-article__text
          | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует замысел вразнобой аллитерирует музыкальный симулякр. Расположение эпизодов аннигилирует
        h3
          | Чем отличается автокредит от потребительского кредита в 2023 году?
        p
          | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует #[a(href="#") музыкальный симулякр]. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
        h4
          | Различие 1
        ul
          li Преимущество №1
          li Преимущество №2
          li Преимущество №3
          li Преимущество №4
          li Преимущество №5
        ol
          li
            | Выгода
          li
            | Процент
          li
            | Переплата
section.section-text
  .site-container
    .news-and-article
      .news-and-article__inner
        +imgLazy("assets/images/news-and-article/cards.jpg", alt="")(height="480px" width="100%")
        span
          | Мелкая сноска с описанием фото
section.section-text
  .site-container
    .news-and-article
      .news-and-article__inner
        blockquote
          | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр.
section.section-text
  .site-container
    .news-and-article
      .news-and-article__inner
        .news-and-article__slider-wrapper
          .slider-btns
            button.slider-btn.js-prev-slide
              span.visually-hidden предыдущий слайд
              +icon-mono("shevron-arrow")(width="24" height="24" class="slider-btn__icon")
            button.slider-btn.js-next-slide
              span.visually-hidden слудующий слайд
              +icon-mono("shevron-arrow")(width="24" height="24" class="slider-btn__icon")
          .news-and-article__slider
            .swiper-wrapper
              .swiper-slide
                img(class="news-and-article__slider-img" src="assets/images/news-and-article/car.jpg" alt="" width="880px" height="480px")
              .swiper-slide
                img(class="news-and-article__slider-img" src="assets/images/news-and-article/cards.jpg" alt="" width="880px" height="480px")
              .swiper-slide
                img(class="news-and-article__slider-img" src="assets/images/news-and-article/car.jpg" alt="" width="880px" height="480px")
        span
          | Мелкая сноска с описанием фото
section.section-text
  .site-container
    .news-and-article
      .news-and-article__inner
        .news-and-article__shield
          img.news-and-article__shield-img(src="assets/images/news-and-article/shield.jpg" alt="")
          .news-and-article__shield-title
            | Мир Classic с кешбэком
          .news-and-article__shield-box
            .news-and-article__shield-box-text
              | от #[b 20%]
            +moreLink("Подробнее", "", "/")
.news-and-article__fixed-block(class="js-sticky")
  .news-and-article__fixed-block-title
    | Полезное на почту
  .news-and-article__fixed-block-text
    | Еженедельная рассылка полезных статей и новостей банка
  +button("Подписаться", null, null, null)(class="button--lg news-and-article__btn-main")























//- section.page-section.not-js-section(data-sticky-container)
//-   .site-container
//-     .news-and-article
//-       .news-and-article__inner
//-         .news-and-article__text
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует замысел вразнобой аллитерирует музыкальный симулякр. Расположение эпизодов аннигилирует
//-         h3
//-           | Чем отличается автокредит от потребительского кредита в 2023 году?
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует #[a(href="#") музыкальный симулякр]. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         h3
//-           | Чем отличается автокредит от потребительского кредита в 2023 году?
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         h4
//-           | Различие 1
//-         +imgLazy("assets/images/news-and-article/cards.jpg", alt="")(height="480px" width="100%")
//-         span
//-           | Мелкая сноска с описанием фото
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         blockquote
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр.
//-         h3
//-           | Различие 3
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         ul
//-           li Преимущество №1
//-           li Преимущество №2
//-           li Преимущество №3
//-           li Преимущество №4
//-           li Преимущество №5
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         h3
//-           | Чем отличается автокредит от потребительского кредита?
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         .news-and-article__slider-wrapper
//-           .slider-btns
//-             button.slider-btn.js-prev-slide
//-               span.visually-hidden предыдущий слайд
//-               +icon-mono("shevron-arrow")(width="24" height="24" class="slider-btn__icon")
//-             button.slider-btn.js-next-slide
//-               span.visually-hidden слудующий слайд
//-               +icon-mono("shevron-arrow")(width="24" height="24" class="slider-btn__icon")
//-           .news-and-article__slider
//-             .swiper-wrapper
//-               .swiper-slide
//-                 img(class="news-and-article__slider-img" src="assets/images/news-and-article/car.jpg" alt="" width="880px" height="480px")
//-               .swiper-slide
//-                 img(class="news-and-article__slider-img" src="assets/images/news-and-article/cards.jpg" alt="" width="880px" height="480px")
//-               .swiper-slide
//-                 img(class="news-and-article__slider-img" src="assets/images/news-and-article/car.jpg" alt="" width="880px" height="480px")
//-         span
//-           | Мелкая сноска с описанием фото
//-         h3
//-           | Различие 4
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         ol
//-           li
//-             | Выгода
//-           li
//-             | Процент
//-           li
//-             | Переплата
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         .news-and-article__shield
//-           img.news-and-article__shield-img(src="assets/images/news-and-article/shield.jpg" alt="")
//-           .news-and-article__shield-title
//-             | Мир Classic с кешбэком
//-           .news-and-article__shield-box
//-             .news-and-article__shield-box-text
//-               | от #[span 20%]
//-             +moreLink("Подробнее", "", "/")
//-         h3
//-           | Заключение
//-         p
//-           | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
//-         p
//-           | Впечатление, за счет использования параллелизмов и повторов на разных языковых уровнях, отражает лирический субъект. Наряду с нейтральной лексикой акцент слабопроницаем. Драма параллельна. В данной работе мы не будем анализировать все эти аспекты, однако абстракционизм традиционно отталкивает #[a(href="#") холодный цинизм], таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Зачин иллюстрирует музыкальный поток сознания. Олицетворение осознаёт возврат к стереотипам.
//-       .news-and-article__fixed-block(class="js-sticky")
//-         .news-and-article__fixed-block-title
//-           | Полезное на почту
//-         .news-and-article__fixed-block-text
//-           | Еженедельная рассылка полезных статей и новостей банка
//-         +button("Подписаться", null, null, null)(class="button--lg news-and-article__btn-main")
