.news-and-article {
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: flex-start;
  gap: 1.6rem;

  @include mq(lg) {
    display: flex;
  }

  &__inner {
    grid-column: 17 span;
    width: 88rem;

    @include mq(sm) {
      width: 100%;
    }

    // &>* {
    //   &:first-child {
    //     margin-top: 0;
    //   }
    // }

    a {
      color: var(--color-primary);
      transition: color var(--transition);

      &:hover {
        color: var(--color-primary-hover);
      }
    }

    p {
      font: var(--font-text-2-reg);
      margin: 1.5rem 0;
    }

    h3 {
      font: var(--font-h4);
      margin-top: 6rem;
      margin-bottom: 3rem;

      @include mq(sm) {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
    }

    h4 {
      font: var(--font-h5);
      margin-top: 6rem;
      margin-bottom: 3rem;

      @include mq(sm) {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
    }

    img {
      width: 100%;
      height: 48rem;
      object-fit: cover;
      object-position: top;
      border-radius: 2rem;

      @include mq(sm) {
        height: 35rem;
        border-radius: 1.2rem;
      }

      @include mq(xs) {
        height: 25rem;
      }

      @include mq(xxs) {
        height: 17.4rem;
      }
    }

    span {
      display: block;
      margin: 2rem 0;
      font: var(--font-text-3-reg);
      color: var(--color-base-5);
    }

    blockquote {
      position: relative;
      margin: 6rem 0;
      font: var(--font-h6);
      padding: 3.5rem 4.5rem 3.5rem 8.8rem;
      background-color: var(--color-base-2);
      border-radius: 2rem;

      @include mq(sm) {
        margin: 4rem 0;
        padding: 2.9rem 2.9rem 2.9rem 6rem;
      }

      &::before {
        position: absolute;
        left: 3.5rem;
        background-image: url("../images/general-information/quotes.svg");
        width: 3.3rem;
        height: 3.3rem;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';

        @include mq(sm) {
          width: 2.3rem;
          height: 2.3rem;
          left: 2.4rem;
        }
      }
    }

    ul {
      margin: 3rem 0;

      @include mq(sm) {
        margin: 2rem 0;
      }

      li {
        position: relative;
        font: var(--font-text-2-med);
        margin-bottom: 1.5rem;

        padding-left: 2.8rem;

        @include mq(sm) {
          margin-bottom: 1rem;
          padding-left: 2rem;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0.9rem;
          left: 1.3rem;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          background-color: var(--color-base-7);

          @include mq(sm) {
            top: 0.7rem;
            left: 0.8rem;
            width: 0.4rem;
            height: 0.4rem;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ol {
      margin: 3rem 0;

      @include mq(sm) {
        margin: 2rem 0;
      }

      li {
        position: relative;
        font: var(--font-text-2-med);
        margin-bottom: 1.5rem;
        padding-left: 2.2rem;

        @include mq(sm) {
          margin-bottom: 1rem;
          padding-left: 2rem;
        }

        &::before {
          color: var(--color-primary);
        }
      }
    }
  }

  &__text {
    font: var(--font-text-1-reg);
    margin: 1.5rem 0;
  }

  &__slider-wrapper {
    position: relative;
    overflow: hidden;
    min-width: 0;
    width: 100%;
    margin: 3rem 0 2rem;

    @include mq(sm) {
      width: 90%;
      overflow: visible;
    }

    .slider-btns {
      position: absolute;
      left: 2.5rem;
      bottom: 2.5rem;
      z-index: 10;
      background-color: var(--color-base-1);
      border: none;
    }

    .swiper-notification {
      display: none;
    }
  }

  &__slider {
    width: 100%;

    .swiper-slide {
      width: 100%;
    }
  }

  &__slider-img {
    width: 880px !important;
    margin-bottom: 0;

    @include mq(sm) {
      width: 100% !important;
    }

    @include mq(xxs) {

    }
  }

  &__fixed-block {
    position: absolute;
    top: 0;
    right: 10rem;
    visibility: hidden;
    grid-column: 7 span;
    max-width: 37rem;
    min-height: 22rem;
    border-radius: 2rem;
    background-color: var(--color-base-2);
    padding: 3rem;

    @include mq(lg) {
      display: none;
      right: 0;
    }

    .vacancy-criteria {
      margin-top: 0;
    }
  }

  &__fixed-block-title {
    font: var(--font-h6);
    margin-bottom: 0.8rem;
    text-align: center;
  }

  &__fixed-block-text {
    font: var(--font-text-3-reg);
    color: var(--color-base-6);
    text-align: center;
  }

  &__fixed-block-btns {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.4rem;

    .button {
      padding: 1.6rem 3.2rem;
    }
  }

  &__btn-main {
    margin-top: 1.6rem;
    width: 100%;
  }

  &__shield {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 18.8rem;
    margin: 6rem 0;
    color: var(--color-base-1);
    padding: 2.7rem 2.4rem 2.1rem 2.4rem;

    @include mq(sm) {
      margin: 4rem 0;
      padding: 1.8rem;
      height: 16rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      @include mq(sm) {
        object-position: 25% 50%;
      }
    }
  }

  &__shield-title {
    font: var(--font-h5);
    max-width: 24rem;
    margin-bottom: 2rem;
  }

  &__shield-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
  }

  &__shield-box-text {
    display: flex;
    align-items: flex-end;
    font: var(--font-text-4-reg);

    b {
      display: inline-block;
      margin: 0;
      font: var(--font-numbers-5);
      margin-left: 0.6rem;
      color: var(--color-base-1);
    }
  }

  .page-more-link {

    @include mq(sm) {
      padding: 0;
      background-color: transparent;
    }

    a {
      color: var(--color-base-1);
      transition: color var(--transition);

      &:hover {
        color: var(--color-primary-hover);
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      @include mq(sm) {
        color: transparent;
      }
    }

    svg {
      @include mq(sm) {
        display: block;
        stroke: var(--color-base-1);
      }
    }
  }
}
