.social {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 0.7rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(255 255 255 / 30%);
    border-radius: 50%;

    img {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }

    @include mq(lg, min) {
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
