main.page-main.main
  include ../index/intro.pug
  +popular-products(true)
  include more-from-bank.pug
  +info-img(true, false, true, true)
  include ../index/useful-services.pug
  include ../../parts/mobile-shield.pug
  +press-center(true, "Пресс-центр")
  include ../../parts/reviews-banner.pug
