.coins {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 5rem var(--grid-offset);

  &__item {
    grid-column: 6 span;

    @include mq(md) {
      grid-column: 12 span;
    }

    @include mq(sm) {
      grid-column: 4 span;
    }
  }

  @include mq(sm) {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 0;
  }
}
