main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Карьера', "/"], ['Разработчик PostgreSQL (Middle/Senior)']])
  +vacancy-intro(true)
  include ./vacancy-text.pug
  +callback-resume
  +vacancy-similar
