section.page-section.not-js-section(data-sticky-container)
  .site-container
    .vacancy-text
      .vacancy-text__inner
        p
          | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует замысел вразнобой аллитерирует музыкальный симулякр. Расположение эпизодов аннигилирует
        h3
          | Обязанности
        ul
          li
            | Автоматизация тестирования 70% времени, ручное - 30%;
          li
            | Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;
          li
            | Составление тестовой документации, в том числе разработка приемочных критериев;
          li
            | Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;
          li
            | Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;
          li
            | Демонстрация разработанного функционала пользователям;
          li
            | Сопровождение релизов
        h3
          | Требования
        ul
          li
            | Автоматизация тестирования 70% времени, ручное - 30%;
          li
            | Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;
          li
            | Составление тестовой документации, в том числе разработка приемочных критериев;
          li
            | Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;
          li
            | Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;
          li
            | Демонстрация разработанного функционала пользователям;
          li
            | Сопровождение релизов
        h3
          | Условия
        ul
          li
            | Автоматизация тестирования 70% времени, ручное - 30%;
          li
            | Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;
          li
            | Составление тестовой документации, в том числе разработка приемочных критериев;
          li
            | Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;
          li
            | Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;
          li
            | Демонстрация разработанного функционала пользователям;
          li
            | Сопровождение релизов
      .vacancy-text__fixed-block(class="js-sticky")
        +vacancy-criteria
        .vacancy-text__fixed-block-btns
          +button("Откликнуться", null, null, null)(class="button--lg vacancy-intro__btn-main")
          +icon-inside-circle("phone")
