- const siteVersion = "0.0.0.0"
- const siteName = "Татсоцбанк"
- const siteDescr = "АО «ТАТСОЦБАНК» представляет широкую линейку банковских продуктов и услуг для частных лиц и для представителей бизнеса."
