extends layout/default.pug

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "Калькуляторы Рефинансирование"
	- const siteLang = "ru"

block content
	include pages/calcs-refinancing/main.pug


block scriptsDev
	script(src="assets/js/refinancing.js?v=" + siteVersion)
	script(src="assets/js/calcsFunc.js?v=" + siteVersion)
	script(src="assets/js/frontend.js?v=" + siteVersion)
