extends layout/default.pug

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "Калькулятор вклада"
	- const siteLang = "ru"

block content
	include pages/calcs-vklad/main.pug


block scriptsDev
	script(src="assets/js/vklad.js?v=" + siteVersion)
	script(src="assets/js/calcsFunc.js?v=" + siteVersion)
	script(src="assets/js/frontend.js?v=" + siteVersion)
