extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Льготная ипотека на новостройку"
  - const siteLang = "ru"
  - noHeader = true

block content
  include pages/landing-page-detail/main.pug
