extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Новость/Статья"
  - const siteLang = "ru"

block content
  include pages/news-and-article/main.pug
