.vacancy-similar {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;

    @include mq(sm) {
      margin-bottom: 2rem;
    }
  }

  .vacancy-similar__slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 23.6rem;
    padding: 2rem;
    border: 1px solid var(--color-base-3);
    border-radius: 2rem;
    transition: background-color var(--transition);

    @include mq(lg, min) {
      &:hover {
        background-color: var(--color-base-2);
      }
    }

    @include mq(sm) {
      min-height: 18.1rem;
      padding: 1.8rem;
      border-radius: 1.2rem;
    }
  }

  &__slider-item-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slider-item-tag {
    display: block;
    padding: 1.2rem 0.6rem;
    font: var(--font-text-5-med);
    border: 1px solid var(--color-base-4);
    color: var(--color-base-7);
    border-radius: 0.8rem;

    @include mq(sm) {
      padding: 0.5rem 1rem;
    }
  }

  &__slider-item-date {
    font: var(--font-text-4-reg);
    color: var(--color-base-6);
    margin-left: 1rem;
  }

  &__slider-item-heading {
    display: -webkit-box;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    overflow: hidden;
    font: var(--font-text-2-semi);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    a {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }
    }
  }

  &__slider-item-text {
    display: -webkit-box;
    height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    margin-top: auto;
    color: var(--color-base-6);
    font: var(--font-text-3-reg);

    @include mq(sm) {
      display: none;
    }
  }

  &__slider-item-price {
    font: var(--font-numbers-6);
    margin: 0.6rem 0 1.6rem;
  }

  &__slider-item-price-text {
    font: var(--font-text-3-med);
    margin-right: 0.7rem;

    @include mq(sm) {
      margin-right: 0.4rem;
    }
  }

  &__slider-item-price-currency {
    margin-left: 0.7rem;

    @include mq(sm) {
      margin-right: 0.4rem;
    }
  }
}
