mixin sliderBtns()
  .slider-btns
    button.slider-btn.js-prev-slide
      span.visually-hidden предыдущий слайд
      +icon-mono("shevron-arrow")(width="24" height="24" class="slider-btn__icon")
    button.slider-btn.js-next-slide
      span.visually-hidden слудующий слайд
      +icon-mono("shevron-arrow")(width="24" height="24" class="slider-btn__icon")
