mixin text-block
  section.page-section-mb-80
    .site-container
      .text-block
        p
          | Банковский надзор за деятельностью кредитной организации (АО «ТАТСОЦБАНК», Генеральная лицензия на осуществление банковских операций № 480 от 25 марта 2015 года) осуществляет Служба текущего банковского надзора Банка России. Телефоны Контактного центра Центрального банка Российской Федерации: 8-800-300-30-00 (бесплатно для звонков из регионов России), +7-499-300-30-00 (в соответствии с тарифами оператора), 300 (бесплатно для звонков с мобильных телефонов).
        p
          | Надзор за соблюдением требований законодательства Российской Федерации в сфере защиты прав потребителей финансовых услуг осуществляет Служба по защите прав потребителей и обеспечению доступности финансовых услуг Банка России. Обращение о нарушении действиями (бездействием) кредитной организации законодательства Российской Федерации, а также охраняемых законом прав и интересов физических или юридических лиц может быть направленно для рассмотрения в Банк России через интернет-приемную (www.cbr.ru/Интернет-приемная).
