mixin vacancy-criteria
  ul.vacancy-criteria
    li.vacancy-criteria__item
      .vacancy-criteria__item-name
        | Занятость:
      .vacancy-criteria__item-text
        | полная, гибкий график
    li.vacancy-criteria__item
      .vacancy-criteria__item-name
        | Требуемый опыт:
      .vacancy-criteria__item-text
        | от 1 года
    li.vacancy-criteria__item
      .vacancy-criteria__item-name
        | Город:
      .vacancy-criteria__item-text
        | Казань