section.page-section-mb-60
  .site-container
    .contacts-block__wrapper
      .contacts-block
        .contacts-block__content
          h3.contacts-block__content-title
            | Головной офис
          .contacts-block__content-items
            .contacts-block__content-item
              .contacts-block__content-item-title
                | Адрес
              .contacts-block__content-item-desc
                | 420111, г.Казань, ул. Право-Булачная 21
            .contacts-block__content-item
              .contacts-block__content-item-title
                | Для особой категории граждан
              .contacts-block__content-item-desc
                | Имеется пандус
            .contacts-block__content-item
              .contacts-block__content-item-title
                | Для особой категории граждан
              a.contacts-block__content-item-desc(href="tel:88432991111")
                | 8 843 299-11-11 (для звонков по РТ)
              a.contacts-block__content-item-desc(href="tel:88003505151")
                | 8 800 350-51-51 (для звонков по РФ)
              a.contacts-block__content-item-desc(href="mailto:mail@tatsoc.ru")
                | mail@tatsoc.ru
            .contacts-block__content-item
              .contacts-block__content-item-title
                | Режим обслуживания клиентов
              .contacts-block__content-item-desc
                | Сб-Вс: с 8:30 до 16:00
              .contacts-block__content-item-desc
                | Сб-Вс: с 8:30 до 16:00
          .contacts-block__btns
            +button("Показать на карте", false, false, "/")(class="button--outline button--md contacts-block__btn")
            +moreLink("Все офисы и банкоматы", "", "/")
        .contacts-block__img-wrapper
          img.contacts-block__img(src="assets/images/general-information/img-photo.png" alt="")

