main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Контакты']])
  section.page-intro-simple.page-top-offset
    .site-container
      h1.page-heading-h2 Контакты
  include ./contacts-block.pug
  +text-block
