main.page-main.main
  include intro.pug
  +popular-products
  include ../../parts/best-from-bank.pug
  include useful-services.pug
  include ../../parts/mobile-shield.pug
  +press-center(true, "Пресс-центр")
  include ../../parts/reviews-banner.pug
