section.page-section.numbres-block.numbres-block--full-width.js-section
  .site-container
    .numbers__grid-container
      .numbers__grid-block
        ul.numbers
          li.numbers__item
            .numbers__head-info
              | #[span >32] лет
            .numbers__text
              | Стабильности на рынке финтеха
          li.numbers__item-divide-point
          li.numbers__item
            .numbers__head-info
              | #[span >9] млрд ₽
            .numbers__text
              | Размер собственных средств в капитале
          li.numbers__item-divide-point
          li.numbers__item
            .numbers__head-info
              | #[span ruBBB]
            .numbers__text
              | Кредитоспособность по рейтигу
              a.numbers__text-link(href="#")
                | «Эксперт РА»
          li.numbers__item-divide-point
          li.numbers__item
            .numbers__head-info
              | #[span >300]
            .numbers__text
              | Зарплатных проектов привлечено
