section.page-section.geography
  .site-container
    .geography__wrapper
      h2.page-heading-h3.page-mb32
        | Наша география
      .geography__text
        p
          | Основным критерием функционирования банка является обеспечение максимального уровня надежности и максимальное удовлетворение потребностей клиентов
      +moreLink("Офисы и банкоматы", true)
      .geography__map
        img.geography__map-img(src="assets/images/general-information/map.svg" alt="map")
      ul.geography__list
        li.geography__list-item
          .geography__list-item-number
            | >72
          .geography__list-item-text
            | Банкоматов банка и банкоматов-партнеров
        li.geography__list-item
          .geography__list-item-number
            | >72
          .geography__list-item-text
            | Отделений банка в городах России
        li.geography__list-item
          .geography__list-item-number
            | >72
          .geography__list-item-text
            | Операционных касс в городах России

