section.page-section
  .site-container
    h2.page-heading-h3.page-mb56 Часто задаваемые вопросы

    ul.accordion__list
      each i in Array.from(Array(3).keys())
        li.accordion__item.accordion__item--filled
          .accordion.accordion--filled.js-accordion
            button.accordion__head.js-accordion-btn
              span.accordion__label Как выбрать ипотечную программу?
            .accordion__body.js-accordion-content
              .accordion__body-content
                p
                  | От этого выбора зависит, какую программу ипотеки вы выберете.
                  | Ставки на покупку недвижимости в новостройках сейчас ниже
                  | за счет госпрограмм — так государство старается поддержать
                  | рынок в кризис. У каждого банка свои лимиты. Одни могут выдать
                  | до 100 млн рублей, другие — только до 30 млн на покупку недвижимости.
                  | Чем больше сумма, тем выше риск для банка. Он будет
                  | проверять вас тщательнее, возможно, потребует включить
                  | в договор созаемщиков и поручителей.
                p
                  | От этого выбора зависит, какую программу ипотеки вы выберете.
                  | Ставки на покупку недвижимости в новостройках сейчас ниже
                  | за счет госпрограмм — так государство старается поддержать
                  | рынок в кризис. У каждого банка свои лимиты. Одни могут выдать
                  | до 100 млн рублей, другие — только до 30 млн на покупку недвижимости.
                  | Чем больше сумма, тем выше риск для банка. Он будет
                  | проверять вас тщательнее, возможно, потребует включить
                  | в договор созаемщиков и поручителей.
