.reviews-shield-section
  .site-container
    section.reviews-shield.js-section
      h2.reviews-shield__heading.page-heading-h4 Отзывы и предложения
      +imgLazy("assets/images/shileds/shiled-img.jpg")(class="reviews-shield__img")
      p.reviews-shield__text
        | Каждый день мы становимся лучше для вас
      +button("Написать отзыв")(class="button--md reviews-shield__btn" data-path="modal-review")
