section.page-section.js-section
  .site-container
    .numbers__grid-container
      .numbers__grid-block
        ul.numbers
          li.numbers__item
            .numbers__head-info
              | от #[span 6.1%]
            .numbers__text
              | Годовая ставка
          li.numbers__item-divide-point
          li.numbers__item
            .numbers__head-info
              | от #[span 15%]
            .numbers__text
              | Первоначальный взнос
          li.numbers__item-divide-point
          li.numbers__item
            .numbers__head-info
              | #[span 3-30]
            .numbers__text
              | Срок кредитования
          li.numbers__item-divide-point
          li.numbers__item
            .numbers__head-info
              | #[span 3] млн.₽
            .numbers__text
              | Максимальная сумма
      .numbers__grid-block
