section.page-section
  .site-container
    h3.page-heading-h3.page-mb56
      | Как работает рефинансирование
    .refinancing__container
      .refinancing__block
        h3.refinancing__heading Сумма ваших кредитов в&nbsp;других&nbsp;банках
        .refinancing__sum-count-wrapper
          .refinancing__sum-count
            .refinancing__sum-item
              .refinancing__sum-img-wrapper
                img(src="assets/images/bank.svg" class="refinancing__sum-img" alt="")
                span.refinancing__sum-img-label Банк 1
              .refinancing__sum-legend 100 000 ₽
              .refinancing__sum-legend-text 12 800 ₽ / мес
            .refinancing__sum-item-plus
            .refinancing__sum-item
              .refinancing__sum-img-wrapper
                img(src="assets/images/bank.svg" class="refinancing__sum-img" alt="")
                span.refinancing__sum-img-label Банк 2
              .refinancing__sum-legend 200 000 ₽
              .refinancing__sum-legend-text 30 000 ₽ / мес

          .refinancing__sum-info
            .refinancing__sum-info-item
              .refinancing__sum-info-label Общая сумма
              .refinancing__sum-info-text 300 000 ₽
            .refinancing__sum-info-item
              .refinancing__sum-info-label Ежемесячный платеж
              .refinancing__sum-info-text 42 800 ₽ #[span / мес]

      .refinancing__block
        h3.refinancing__heading При рефинансировании всех ваших кредитов в ТАТСОЦБАНК
        .refinancing__sum-count-wrapper
          img(src="assets/images/big-logo.svg" class="refinancing__sum-big-logo" alt="")
          .refinancing__sum-info
            .refinancing__sum-info-item
              .refinancing__sum-info-label Единая сумма кредита
              .refinancing__sum-info-text 300 000 ₽
            .refinancing__sum-info-item
              .refinancing__sum-info-label Ежемесячный платеж
              .refinancing__sum-info-text(data-green) 31 000 ₽ #[span / мес]
        .refinancing__mark При ставке 6.5% годовых на срок от 3-х лет
