main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Карьера']])
  +page-intro("Карьера", "Присоединяйся и стань частью динамично развивающейся команды. Помогаем друг другу быть лучшими в своем деле.", true)
  include ./career-form.pug
  include ./career-list.pug
  +callback-resume
