.modal__container.modal-site(data-target="modal-site")
  button.button-reset.modal__close-btn.modal-close(type="button")
    +icon-mono("close")(width="22" height="22" class="modal__close-btn-icon")
  .modal__content
    .modal__content-close-mobile.modal-close
    .modal__content-inner
      button.button-reset.modal__close-btn.modal__close-btn--mobile.modal-close(type="button")
        +icon-mono("close")(width="22" height="22" class="modal__close-btn-icon")
      .modal__legend
        | Интернет-банке
      ul
        li.page-mb10
          a.mobile-menu__link.modal-close(href="./") Частным лицам
        li
          a.mobile-menu__link.modal-close(href="./") Для бизнеса
