main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Ипотека']])
  +page-intro("Ипотека", "Лояльные программы с выгодными ставками для приобретения дома мечты")
  include landing-section.pug
  include ../../parts/faq.pug
  +press-center(false, "Полезное об ипотеке")
  +review-banner()
